.post {
  border: 1px solid black;
  width: 99%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3px;
  justify-content: space-between;
  margin: 3px;
}

.post__title {
  font-size: 25px;
  font-style: italic;
  font-weight: 700;
  padding: 3px;
}

.post__text {
  padding: 3px;
  font-size: 22px;
}