.menu {
  padding: 5px;
}

.menu__list {
  display: flex;
  gap: 50px;
}

.menu__list li a {
  color: black;
  cursor: pointer;
  font-size: 30px;
}

.menu__list li a:hover {
  text-decoration: underline;
}
