.menu {
  padding: 5px;
}

.menu__list {
  display: flex;
  gap: 10px;
}

.menu__list li a {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 20px;
}

.menu__list li a:hover {
  text-decoration: underline;
}
