.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
}

.blog__selectRow {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}

.blog__sortText {
  margin-left: 25px;
}

.blog__sort {
  height: 30px;
  margin-left: 10px;
  font-size: 25px;
  border: 1px solid black;
}

.blog__postList {
  font-size: 35px;
  padding: 10px;
  margin-left: 500px;
}

.blog__postBox {
  width: 100%;
  max-height: 480px;
  border: 1px solid green;
  overflow-y: scroll;
  overflow-x: hidden;
}

.blog__postNotFound {
  text-align: center;
}
