.blog {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 50px;
}

.blog__postList {
  font-size: 35px;
  padding: 10px;
}

.blog__postBox {
  width: 100%;
  max-height: 480px;
  border: 1px solid green;
  overflow-y: scroll;
  overflow-x: hidden;
}
