.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.header {
  height: 76px;
  border: 1px solid black;
}

.content {
  border: 1px solid green;
  height: 100%;
  padding: 10px;
}

.footer {
  border: 1px solid violet;
  height: 100px;
  background-color: rgb(163, 127, 255);
}
